html,
body
{
    font-family: Open Sans, sans-serif;
    line-height: 1.4;

    overflow-x: hidden;

    box-sizing: border-box;
    min-height: 2000px;
    margin: 0 auto;

    text-align: center;
    font-size: 16px;

    color: #999;
    background: #f4f4f4;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
a
{
    color: pink;
}
.pink
{
    color: pink;
}
.notPink {
    color: #999;
}
h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 180px;
    font-weight: 100;

    padding: 40px;

    text-align: center;

    color: pink;
}

.desktopMenu {
    display: none;
}

.location
{
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    /*font-weight: 300;*/

    padding-top: 20px;
    padding-bottom: 180px;

    text-align: center;
    letter-spacing: 10px;

    color: pink;
}

/* REG CSS BELOW */
.pre-title
{
    display: block;
    /*margin-bottom: 65vh;*/

    padding-top: 50%;
    text-align: center;
    text-transform: uppercase;
}
.post-title
{
    position: absolute;
    /*border: 3px dotted white;*/
    bottom: 0;

    width: 100%;
    margin: 0 auto;
}
.pre-title .pre-title-text
{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    /*font-weight: 100;*/

    display: inline-block;

    vertical-align: middle;
    letter-spacing: 3px;

    color: #f4f4f4;
}

.banner
{
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: auto;

    background-image: url('./photos/beachbun.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.pre-title .pre-title-line
{
    display: inline-block;

    width: 100px;
    height: 1px;

    vertical-align: middle;

    background: pink;
}

h3
{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    /*font-weight: 400;*/

    margin-bottom: 40px;

    text-align: left;

    color: pink;
    padding-left: 20px;
}


.page-menu
{
    padding: 0;
}
.page-menu-bar
{
    position: fixed;
    z-index: 9999;

    display: block;

    width: 100%;
    padding: 0px;

    background: #222;
    box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
    padding-bottom: 30px;
}

.page-menu-bar li
{
    display: none;
    z-index: 100;
    height: 100px;
}
.res-menu-link {
    background: #222;
}
.page-menu-bar li a
{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    /*font-weight: 300;*/

    text-decoration: none;

    color: #999;
}
.page-menu-bar li a:hover
{
    color: white;
}
.page-menu-bar li .selected
{
    /*font-weight: 400;*/
    color: pink;
}
.res-menu-button
{
    font-size: 56px;

    /*display: none;*/

    padding-right: 20px;

    cursor: pointer;
    text-align: center;
    z-index: 100;
    opacity: .7;
    color: pink;
}



.res-menu
{
    display: none;

}
.res-menu li
{
    display: block;
    margin: 0;
    padding: 0px;
}
.res-menu {
    padding: 0px;
    margin: 0 auto;
}
.res-menu li a
{
    display: block;

    padding: 16px;

    color: white;
    /*border-bottom: 1px solid #333;*/
    background: #222;
}
.res-menu li a:hover
{
    color: pink;
}
.about
{
    padding: 25px;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;

}


.about .featured-text
{
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;

    color: pink;
}
.about p
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5;

    display: block;

    margin-bottom: 20px;

    text-align: justify;

    color: #999;
}
.about-wrapper
{
    /*width: 100%;*/
    position: relative;

    margin: 0 auto;
    padding-top: 40px;
    /*border-bottom: 3px dashed #333;*/

    background-color: #f4f4f4;
}


.about-img
{
    display: inline-block;

    margin-top: 40px;
    margin-bottom: 40px;

    vertical-align: top;
    width: 700px;
    border-radius: 50%;
}


.service-bg-wrapper
{
    /*margin-bottom: -3px;*/
    background-image: url('./photos/services.jpeg');
    background-size: cover;
    padding-top: 40px;
}
.services-wrapper
{
    position: relative;
    /*border-bottom: 3px dashed #333;*/
    /*height: 100%;*/
    /*padding-left: 35%;*/

    height: 100vh;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 6em;

    text-align: left;
}

.services-wrapper p
{
    font-size: 16px;
}
h4
{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;

    display: block;

    margin: 20px 0;
    padding: 20px;

    text-align: left;

    color: white;
    border-bottom: 1px solid pink;
    background: #111;
}

.team
{
    /*display: inline-block;*/
    /*width: 100%;*/
    margin: auto;
    margin-top: 4em;
    /*margin-right: 6em;*/
    margin-bottom: 4em;
    /*min-height: 80vh;*/
    /*text-align: left;*/
    overflow: auto;
}

.team-wrapper
{
    /*width: 100%;*/
    position: relative;

    margin: 0 auto;
    padding-top: 40px;
    /*border-bottom: 3px dashed #333;*/

    background-color: #f4f4f4;
    overflow: auto;
}




.toggle-service
{
    float: right;

    cursor: pointer;

    color: white;
}
.contact-wrapper
{
    margin: 0 auto;
    padding: 1em;

    text-align: left;
    /*padding-bottom: 2em;*/
    min-height: 100vh;
    /*max-width: 100vw;*/
}
.socialLinks {
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 20px;
}
.menuBtn {
    float: right;
    /*margin: auto;*/
    vertical-align: top;
    margin-top: 35px;

}
.menuLogo {
    float: left;
    width: 150px;
    margin: auto;
    padding: 10px;
}
.contact-wrapper .contact-form
{
    /*display: inline-block;*/
    /*margin-right: 60px;*/

    margin: 0 auto;
    padding: 0;

    vertical-align: top;

    color: #999;
    text-align: center;
}
.contact-wrapper .contact-form form {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.contact-wrapper .contact-form input
{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;

    display: block;
    height: 80px;

    /*width: 95%;*/
    width: 95%;
    padding: 16px;
    margin: 15px auto;
    color: #777;
    border: 1px solid #777;
    background: none;
}
.contact-wrapper .contact-form textarea
{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;

    display: block;

    width: 95%;
    height: 200px;
    margin: 15px auto;
    padding: 16px;

    color: #777;
    border: 1px solid #777;
    background: none;
}
.contact-wrapper .contact-form .form-submit
{
    /*width: 98%;*/
    width: 100%;
    cursor: pointer;
    color: pink;
    border-color: pink;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 80px;
    font-size: 1.5em;
}

.contact-wrapper .contact-side
{
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 2em;
    vertical-align: top;

    /*border-left: 4px solid #736f6f;*/
}
.hours {
    text-align: left;
}
.toTop {
    background-color: rgba(34, 34, 34, 0.67);
    font-size: 100px;
    margin-top: 10px;
}
.toTop a {
    text-decoration: none;
}



.contact-wrapper .contact-side p
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.8;

    margin-top: 0;
    margin-bottom: 20px;

    color: #999;
}
.contact-wrapper .contact-side .hours-heading
{
    font-size: 24px;

    color: pink;
}
.products-wrapper
{
    position: relative;

    margin: 0 auto;
    padding-top: 6em;
    padding-bottom: 6em;

    color: #f4f4f4;
    /*border-bottom: 3px dashed #f4f4f4;*/
}
.products-bg-wrapper
{
    background-image: url('./photos/products.jpeg');
    background-size: cover;
}
.productCont
{
    display: flex;
    flex-direction: row;

    flex: 1;
    flex-wrap: wrap;
}
.prodImg {
    width: 500px;
    height: 500px;
}

.product
{
    vertical-align: top;
}
.product img
{
    border-radius: 50%;
}
.product p
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.7;

    padding: 20px;

    color: #999;
}


@media screen and (min-device-width: 800px)
{
    body {
        max-width: 100vw;
        overflow: hidden;
    }
    .page-menu-bar {
        display: none;
    }
    .desktopMenu {
        display: block;
    }
    .page-menu {
        display: block;
    }
    .page-menu li {
        display: inline-block;
    }
    .page-menu a {
        text-decoration: none;
        margin: 20px;
    }
    .location {
        padding-bottom: 20px;
    }
    .pre-title {
        padding-top: 8em;
    }
    /*//about*/
    .about-img {
        width: 25em;
    }
    /*//services in services.css*/
    /*//team in team.css*/

    /*//products*/
    .prodImg {
        width: 20em;
        height: 20em;
    }
    .products-wrapper {
        padding: 15px;
    }
    .product {
        margin: 0 auto;
        width: 20em;
        display: inline-block;
    }
    /*//contact*/
    .contact-wrapper {
        /*width: 100%;*/
        position: relative;
        /*margin-right: 5px;*/
    }
    .contact-form {
        display: inline-block;
        margin: auto;
        width: 50%;
    }
    .contact-side {
        display: inline-block;
        margin: 0 auto;
        /*border-left: 3px solid lightgray;*/


    }

    .contact-wrapper .contact-form input {
        height: 12px;
        font-size: 16px;
    }
    .contact-wrapper .contact-form .form-submit {
        height: 50px;
        font-size: 16px;
    }
    .contact-wrapper .contact-form textarea {
        height: 300px;
        font-size: 16px;
    }
    .socialLinks {
        margin-bottom: 1em;
    }
    .toTop {
        font-size: 35px;
    }
}
